

<!DOCTYPE html>
<html lang="es">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<head>
</head>
<body>

  <header>
    <div class="header-container">
      <div class="logo">
        <a href="">
          <div class="icon-container">
            <img src="../../assets/img/Background (1).png" alt="Inicio Sesion" style="height: 40px;" height="50px">
          </div>
        </a>
      </div>
    </div>
  </header>
  <div class="">
    <div class="background-image">
      <form class="register-form" style="margin-top: 40px;">
        <div class="form-group">
          <h2  class="MuiTypography-root MuiTypography-h1 css-1nwzx2u">Registro de usuario</h2>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre"required>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="password">Confirmar Contraseña:</label>
          <input type="password" id="password" name="password"required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <br>
        <div class="form-volver">
          <br >
          <button class="btn btn-secondary" [routerLink]="['/login']">Ya tengo una cuenta</button>

        </div>
      </form>
    </div>
  </div>
</body>
<app-footer></app-footer>
</html>

