<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

</head>
<body>
  <header>
    <nav class="header-container">
      <div class="header-icons">
        <a href="">
          <div class="icon-container">
            <img src="../../assets/img/pet-friendly.png" alt="Inicio" style="height: 40px;">
            <span>Inicio</span>
          </div>
        </a>
      </div>
    </nav>
  </header>

  <div class="bread-icons">
    <a href="">
      <div class="icon-container">
        <img src="../../assets/img/dog-house.png" alt="Inicio" style="height: 40px;" height="40px">
        <span>Inicio></span>
      </div>
    </a>
    <a href="">
      <div class="icon-container">
        <img src="../../assets/img/cartdog.png" alt="Inicio Sesion" style="height: 40px;" height="40px">
        <span>Pagina actual</span>
      </div>
    </a>

  </div>
  
   
    <aside>
        <div class="cart-summary">
            <h2>Realizar compra</h2>
            <ul class="cart-items">

                <li *ngFor="let item of cartItems">
                    <div class="cart-item">
                        <img alt="{{item.product.nombre}}">
                        <img  src="{{item.product.imagen}}" alt="{{item.product.nombre}}">
                        <div class="item-details">
                            <h3>{{item.product.nombre}}</h3>
                            <p>{{item.product.detalles}}</p>
                            <div class="item-quantity">
                                <label for="quantity" >Cantidad:</label>
                                <!-- <input type="number" id="quantity" name="quantity" [(ngModel)]="item.quantity" (change)="updateCartItem(item)"> -->
                                <input type="number" id="quantity" name="quantity" [(ngModel)]="item.quantity" (change)="calculateTotalPrice(item); updateCartItem(item)">

                            </div>
                            <div class="item-size">
                                <label for="size">Talla:</label>
                                <select id="size" name="size" [(ngModel)]="item.size" (change)="updateCartItem(item)">
                                    <option *ngFor="let talla of item.product.tallas" [value]="talla">{{ talla }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="item-price">
                            {{item.price | currency:'USD'}}
                        </div>
                        <button (click)="removeFromCart(item)">Eliminar</button>
                    </div>
                </li>
            </ul>
            <div class="total">
                <span>Total:</span>
                <span class="total-amount">{{totalAmount | currency:'USD'}}</span>
            </div>
            <button class="checkout-button">Comprar</button>
        </div>
    </aside>
</body>
</html>
