
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comercio electrónico para mascotas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
          <div class="logo">
            <a href="">
              <div class="icon-container">
                <img src="../../assets/img/Background (1).png" alt="PetParadise" style="height: 40px;" height="50px">
              </div>
            </a>
          </div>
          <div class="search-container">
            <form (ngSubmit)="buscarProductos()" #searchForm="ngForm" class="search-form" >
              <input type="text" name="searchQuery" [(ngModel)]="searchQuery" placeholder="¿A donde quieres ir?" class="search-input" (input)="actualizarSugerencias(searchQuery)" style="height: 50px;">
              <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
                <img src="../../assets/img/finding.png" alt="Perrito con lupa" class="search-icon">
              </button>
            </form>
          
            <div *ngIf="sugerenciasEnTiempoReal.length > 0" class="sugerencias-flotantes">
              <ul>
                <li *ngFor="let producto of sugerenciasEnTiempoReal" (click)="navigateToProductDetails(producto.nombre)">
                  {{ producto.nombre }}
                </li>
              </ul>
            </div>
          
            <!-- Sugerencias anteriores -->
            <div *ngIf="sugerenciasProductos.length > 0" class="sugerencias-productos">
              <h4>Sugerencias:</h4>
              <ul>
                <li *ngFor="let producto of sugerenciasProductos" (click)="navigateToProductDetails(producto.nombre)">
                  {{ producto.nombre }}
                </li>
              </ul>
            </div>
          </div>
          <div class="header-icons">
            <a href="">
              <div class="icon-container">
                <img src="../../assets/img/pet-friendly.png" alt="Inicio" style="height: 40px;" height="50px">
                <span>Inicio</span>
              </div>
            </a>
            <a href="/cart">
              <div class="icon-container">
                <img src="../../assets/img/shopping-bag.png" alt="Carrito de compras" style="height: 40px;" height="50px">
                <span>Compras</span>
              </div>
            </a>
          </div>
        </div>
      </header>
      <div class="bread-icons" style="margin-top: 5px;">
        <a href="">
          <div class="icon-container">
            <img src="../../assets/img/dog-house.png" alt="Inicio" style="height: 40px;" height="40px">
            <span>Inicio ></span>
          </div>
        </a>
        <a>
          <div class="icon-container">
            <img src="../../assets/img/scanning.png" alt="Inicio Sesion" style="height: 40px;" height="40px">
            <span>Pagina actual</span>
          </div>
        </a>
        <div class="container my-5">
            <section>
                <h2 class="text-center mb-5">Descubre un mundo de amor y cuidado para tus mascotas en Pet Paradise</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-heart"></i> Valores</h5>
                                <p class="card-text">En nuestro ecommerce, nos apasiona el bienestar de las mascotas y nos regimos por valores fundamentales como la compasión, la integridad y la excelencia en el servicio. Nos esforzamos por brindar productos de alta calidad y un trato excepcional a nuestros clientes y sus adorables compañeros peludos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-bullseye"></i> Misión</h5>
                                <p class="card-text">Nuestra misión es convertirnos en el destino preferido para todos los amantes de las mascotas, ofreciendo una amplia gama de productos innovadores y de calidad superior, desde alimentos nutritivos hasta accesorios divertidos y prácticos. Nos esforzamos por hacer que el cuidado y la felicidad de tus compañeros peludos sea una experiencia única y gratificante.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-eye"></i> Visión</h5>
                                <p class="card-text">Nuestra visión es convertirnos en líderes en el mercado de productos para mascotas, ofreciendo una experiencia de compra sin igual. Buscamos ser reconocidos por nuestra innovación constante, nuestro compromiso con la sostenibilidad y nuestro enfoque en el bienestar animal. Aspiramos a ser un referente en la industria, fomentando una cultura de amor y respeto hacia todas las especies.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-6">
                        <h5 class="card-title"><i class="fas fa-eye" ></i> ¿Por qué elegirnos?</h5>
                        <div class="popup-content" style="text-align: justify;">
                            <p>Variedad incomparable, compromiso con el bienestar animal, precios competitivos y entrega rápida. En nuestro ecommerce, encontrarás todo lo que necesitas para consentir a tus mascotas, con la tranquilidad de saber que estás adquiriendo productos de la más alta calidad y respaldados por un equipo apasionado.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<app-footer></app-footer>
</html>
