footer {
margin-top: 5%;
  background-image: linear-gradient(0deg, #6de8ed 10%, #ebe3d9 100%);
  color: #000000;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: transform 0.3s; 
}

.social-icons a:hover {
  transform: scale(1.2); 
}



@keyframes slide-up {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}
