<footer class="footer">
  <div class="container p-4">
      <div class="row my-4">
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">

              <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
                <img src="../../assets/img/Background (1).png" height="67" width="" alt=""
                     loading="lazy" />
              </div>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Acerca de PetParadise</h5>
    
              <ul class="list-unstyled">
                <li class="mb-2">
                  <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Blog</a>
                </li>
                <li class="mb-2">
                  <a href="../../../assets/img/Mapa del sitio.jpg" class="text-white"><i class="fas fa-paw pe-3"></i>Mapa del sitio</a>
                </li>
                <li class="mb-2">
                  <a href="" class="text-white"><i class="fas fa-paw pe-3"></i>Información</a>
                </li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">LINKS DE INTERES</h5>
              <p><a href="">Términos y condiciones</a></p>
              <p><a href="">Política de privacidad</a></p>
              <p><a href="">Políticas de entrega</a></p>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-4">Contacto</h5>
    
              <ul class="list-unstyled">
                <li>
                  <p><i class="fas fa-map-marker-alt pe-2"></i>Dolores Hidalgo C.I.N</p>
                </li>
                <li>
                  <p><i class="fas fa-phone pe-2"></i>+52 4181481083</p>
                </li>
                <li>
                  <p><i class="fas fa-envelope pe-2 mb-0"></i>servicioalclientepet.com.mx</p>
                </li>
              </ul>
          </div>
          <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
              <ul class="list-unstyled d-flex flex-row justify-content-center">
                  <li>
                    <a class="text-white px-2" href="https://www.facebook.com/profile.php?id=61557238803294&mibextid=ZbWKwL">
                      <img src="../../../assets/img/facebook.png" alt="Facebook" height="30">
                    </a>
                  </li>
                  <li>
                    <a class="text-white px-2" href="https://www.instagram.com/pet.paradises2024?igsh=NjE0dnExaTRoY2lw">
                      <img src="../../../assets/img/instagram.png" alt="Instagram" height="30">
                    </a>
                  </li>
                  <li>
                    <a class="text-white ps-2" href="https://www.tiktok.com/@paradisepet24?_t=8kekl1rjCQ2&_r=1">
                      <img src="../../../assets/img/tik-tok.png" alt="TikTok" height="30">
                    </a>
                  </li>
                  <li>
                    <a class="text-white ps-2" href="https://www.x.com/">
                      <img src="../../../assets/img/twitter.png" alt="twitter" height="30">
                    </a>
                  </li>
                </ul>
          </div> 

      </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright:
      <a class="text-white" href="#!">PetParadise.com</a>
    </div>
</footer>
